body {
    margin: 0px;
}
p {
    display: inline;
}
#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}

a {
    color: #3388ff;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
}

.leaflet-canvas-layer {
    opacity: 0.55;
}

#btn-spin {
    position: absolute;
    left: 200px;
    z-index: 10;
    font-size: 1.5em;      
  }